<nav class="bg-purple-600 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: "bg-purple-700 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded" %>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: "bg-purple-700 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded" %>
        <% else %>
            <%= link_to 'Login', new_user_session_path, class: "bg-purple-700 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded" %>
            <%= link_to 'Sign up', new_user_registration_path, class: "bg-purple-700 hover:bg-purple-800 text-white font-bold py-2 px-4 rounded" %>
        <% end %>
    </div>
</nav>
